{% extends "store/base.html" %}
{% block content %}
<h1 class="h4 mb-3">Create your account</h1>
<form method="post" class="row g-3">
  {% csrf_token %}
  <div class="col-12 col-md-6">
    <label class="form-label">Username</label>
    {{ form.username }}
  </div>
  <div class="col-12 col-md-6">
    <label class="form-label">Email</label>
    {{ form.email }}
  </div>
  <div class="col-12 col-md-6">
    <label class="form-label">Password</label>
    {{ form.password1 }}
  </div>
  <div class="col-12 col-md-6">
    <label class="form-label">Confirm Password</label>
    {{ form.password2 }}
  </div>
  <div class="col-12"><button class="btn btn-primary">Sign Up</button></div>
</form>
{% endblock %}
